<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Help
          <small>Home</small>
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">Help</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <h3>Contact details</h3>
    <p class="lead">Main devloper - Michael Fleming</p>
    <p>Please contact the main devloper in case of emergency. This version is still currently under development.</p>

  </div>

</dvi>
