<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Messages
          <small>Home</small>
          <%= link_to "New Message", new_conversation_path, :class => "btn btn-success pull-right" %>
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="/">Home</a>
          </li>
            <li class="active">Messages</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-12">
        <% @conversations.each do |conversation| %>
          <div class="list-group">
            <a href="/conversations/<%= conversation.id %>" class="list-group-item">
              <h4 class="list-group-item-heading"><%= conversation.subject %></h4>
              <p class="list-group-item-text"><%= conversation.created_at.to_date %></p>
              <p class="list-group-item-text"></p>
            </a>
          </div>
        <% end %>
      </a>
    </div>
  </div>
  <!-- /.row -->
