.simple-calendar {
  border-color: red !important;
  border-left: red !important;
  height:800px;
  .day {

    border-radius: 5px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: #FCF8E3 !important;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background-color: #CEE8F5;
    height:130px
  }
  .next-month {
    background-color: #ccc;
    height:130px;
  }
  .current-month {
    height:130px;

  }

  .has-events {

  }
}

.meetings{
  background-color: #B1DBA4;
  margin: 10px;
  border-radius: 5px;
}

.table{
  border-radius: 4px !important;
}

.calendar-heading{
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px
}

.calendar-heading a{
  font-size: 25px;
  margin: 20px;
}
