// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple-calendar{
  height: 100%;
}

.calendar-heading{
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px
}

.calendar-heading a{
  font-size: 15px;
  margin: 20px;
}

#Weekly-appiontments{
    width:100%;
    height:100%;
}
